@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  background: #93c5fd;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 30%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
